.contact{
	width: 100%;
	.contact__container{
		max-width: 1200px;
		margin: 0 auto;
		background-color:#fff;
		border-radius:8px;
		min-height: 300px;
		display: flex;
		justify-content: space-between;
	}
}