.home{
	width: 100%;
	.home__container{
		max-width: 1200px;
		margin: 0 auto;
		background-color:#fff;
		border-radius:8px;
		min-height: 300px;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width:1300px) {
	.home{
		.home__container{
			max-width: 800px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;	
			margin-top: 20px;
		}
	}
}