.info{
	width: 100%;
	.info__container{
		max-width: 1200px;
		margin: 0 auto;
		background-color:#fff;
		border-radius:8px;
		min-height: 300px;
		display: flex;
		column-gap: 24px;
		padding: 30px 40px;
		.left__info{
			width: 370px;
			h3{
				font-weight: 700;
				font-size: 30px;
				color: #1c1c1c;
			}
			p{
				font-weight: 400;
				font-size: 14px;
				color:#878792;
				padding: 45px 0;
				line-height: 20px;
			}
			.info__tab{
				display: flex;
				flex-direction: column;
				row-gap: 5px;
				.span{
					width: 100%;
					border-radius:8px;
					font-weight: 400;
					color: #303a43;
					font-size: 16px;
					padding: 20px;
					text-decoration: none;
				}
				.span-active{
					width: 100%;
					border-radius:8px;
					font-weight: 400;
					color: #303a43;
					font-size: 16px;
					padding: 20px;
					background-color:#cec5c5;
					padding: 20px;
					text-decoration: none;
				}
			}
		}
		section{
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			.right__info{
				width: 100%;
				height: max-content;
				display: flex;
				flex-direction: column;
				row-gap: 20px;
				background-color:#eee8e8;
				padding: 20px 24px;
				border-radius:8px;
				.info__modul{
					display: flex;
					justify-content: space-between;
					align-items: center;
					span{
						display: flex;
						align-items:center;
						p{
							font-weight: 500;
							font-size: 16px;
							color:#222332;
							user-select: none;
						}
					}
					.arrow-icon{
						font-size: 24px;
					}
				}
				p{
					font-weight: 400;
					font-size: 16px;
					line-height: 32px;
					color:#222332;
				}
			}
		}
	}
}
@media screen and (max-width:1300px) {
	.info{
		.info__container{
			max-width: 800px;
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			row-gap: 30px;
		}
	}
}
@media screen and (max-width:678px) {
	.info{
		.info__container{
			padding: 20px;
			.left__info{
				width: 100%;
			}
			.right__info{
				.info__modul{
					span{
						p{
							font-size: 12px;	
						}
					}
					.arrow-icon{
						font-size: 20px;
					}
				}
			}
		}
	}
}