.partners{
	.partners__container{
		max-width: 1200px;
		margin: 0 auto;
		background-color:#fff;
		border-radius:8px;
		min-height: 300px;
		display: flex;
		flex-direction: column;
		padding: 50px;	
		.header__pertners{
			width: 100%;
			display: flex;
			justify-content: space-between;
			h1{
				font-weight: 500;
				color:#2D2D2D;
				font-size: 30px;
			}
			nav{
				ul{
					display: flex;
					column-gap: 20px;
					list-style: none;
					li{
						.nav-button{
							border-radius:8px;
							background-color:#5568d4;
							border: none;
							font-weight: 500px;
							font-size: 14px;
							color: #fff;
							padding: 16px 24px;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}