.site-rules{
	width: 100%;
	.site-rules__container{
		max-width: 1200px;
		margin: 0 auto;
		background-color:#fff;
		border-radius:8px;
		min-height: 300px;
		padding: 50px;
		h1{
			font-weight: 300;
			font-size: 30px;
			color: #2d2d2d;
			padding-bottom: 30px;
		}
		h2{
			font-size: 24px;
			font-weight: 400;
			color: #4d576c;
			margin: 0;
		}
		p{
			margin-bottom: 2.8rem;
			font-size: 15px;
			color:#1c1c1c;
		}
		h3{
			font-weight: 400;
			margin-bottom: 20px;
			font-size: 24px;
			color:#1c1c1c;
		}
	}
}